<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="{{googleClientId}}">


    <title>Bas Kager - authentication experiments</title>
    <style>
        main,
        header {
            margin: 0 auto;
            max-width: 80rem;
            width: 95%;
        }

        .userData {
            display: none;
            border-bottom: 0.2em solid rgba(0, 0, 0, 0.8);
        }

        .g-signin2 {
            margin: 1em;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>